.footer {
  letter-spacing: 0.5px;
  // .footer__container
  &__container {
    background: #f8f8f8;
    margin: 0 auto;
    padding: 23px 0;
  }

  // .footer__text
  &__text {
    text-align: center;
    font-size: 7.45424px;
    line-height: 9px;
    color: #3e3e3e;
  }
}
