@use "sass:math";

.header {
  padding: 16px 0 0 0;
  // aspect-ratio: 640 / 284;
  background: url("https://yoda-dev.mdinc.tech/api/static-file-loader/email/background.svg") top no-repeat;
  background-size: cover;
  // .header__container
  &__container {
  }

  // .header__item
  &__item {
    margin: 0px 0px 5px 0px;
    position: relative;
    z-index: 1;
  }
}

.logo {
  // display: flex;
  // align-items: center;

  height: 20px;
  // .logo__title
  &__title {
    // margin: 0 0 0 16px;

    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  // .logo__separator
  &__separator {
    // margin: 0 7.4px 0 0;
    height: 20px;
    width: 1px;
    background: #fff;
    // float: left;
    display: inline-block;
    vertical-align: middle;
  }

  // .logo__img
  &__img {
    // float: left;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 7.98669px rgba(0, 0, 0, 0.15);
    border-radius: 3.19468px;
    overflow: hidden;
    // display: flex;
    // flex: 0 1 auto;

    height: 30px;
    height: 130%;
    background: #ffffff;

    position: relative;

    & img {
      height: 80%;
      transform: translateY(10%);
      object-fit: contain;
    }
  }
}

.monitor {
  position: relative;
  width: 18%;
  aspect-ratio: 143 / 116;
  overflow: hidden;
  // height: 116.75px;

  // .monitor__img
  &__img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
  }

  // .monitor__lottie
  &__lottie {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -12%);
  }
}

.welcome {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  color: #f2f2f2;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.5px;

  // .welcome__monitor
  &__monitor {
    margin: 0 auto 10px auto;
  }

  // .welcome__header
  &__header {
    color: #f2f2f2;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.5px;
    font-size: 16.9842px;
    margin: 0px auto 3px auto;
    text-align: center;
  }

  // .welcome__text
  &__text {
    color: #f2f2f2;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.5px;
    letter-spacing: 0.3px;
    font-size: 12.7787px;
    margin: 0px auto 6px auto;
    text-align: center;

    span {
      color: #ffd980;
    }
  }
}
