@use "sass:math";

$fontFamily: Inter, Roboto, Arial;
$fontSize: 25;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 668;

$mainColor: #000;

@import "null-style";

body {
  letter-spacing: 0.5px;
  color: $mainColor;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  line-height: 15px;
  font-weight: 600;

  display: flex;
  justify-content: center;

  // .page__container
  &__container {
    padding: 0 5px;
    width: 77%;
  }

  // .page__title
  &__title {
    font-size: 14.9085px;
    color: #619cf9;
    margin: -10px 0 17px 0;
  }

  // .page__list
  &__list {
    margin: 0 0 25px 0;
  }

  // .page__result
  &__result {
    font-size: 12.7787px;
    color: #3e3e3e;
    margin: 0 0 29px 0;
  }

  // .page__button
  &__button {
    margin: 0 auto 30px auto;
    display: inline-block;

    font-weight: 500;
    font-size: 11.7138px;
    line-height: 14px;

    background: #619cf9;

    color: #ffffff;

    box-shadow: 0 3.72712px 10.6489px rgba(0, 0, 0, 0.05);
    border-radius: 10.6489px;

    padding: 7px 17px;
  }

  // .page__ps
  &__ps {
  }
}

.list {
  letter-spacing: 0.2px;
  font-size: 13px;
  line-height: 15px;
  // .list__item
  &__item {
    &:not(:last-child) {
      margin: 0 0 17px 0;
    }
  }

  // .list__content
  &__content {
    font-weight: 600;
    /* or 117% */

    display: flex;
    align-items: center;

    color: #3e3e3e;

    img {
      margin: 0 1em 0 0;
    }
  }

  // .list__description
  &__description {
    font-weight: 400;
    color: #757575;
  }
}

.button {
}

.ps {
  // .ps__text
  margin: 0 0 25px 0;
  &__text {
    font-size: 11.7138px;
    line-height: 15px;

    color: #3e3e3e;
  }
}

@import "./header";
@import "./footer";
